@{
    ViewData["Title"] = "Extended search";
}

<div class="text-lg-start">
    <h3 class="display-4">Select necessary option</h3>
    <br />
    <br />

    <a href="/ExtendedSearch/VaccinationsAccPatient">Vaccinations according to the selected patient</a>
    <br />
    <hr />
    <br />
    <a href="/ExtendedSearch/VaccinationsAccRegionDisease">Number of vaccinations in the selected region (city) against the selected disease</a>
    <br />
    <hr />
    <br />
    <a href="/ExtendedSearch/MessagesAccYear">Number of messages after vaccinations per year, broken down by month</a>
</div>
