@{
    ViewData["Title"] = "Show data";
}

<div class="text-lg-start">
    <h3 class="display-4">Select necessary data</h3>
    <br/>
    <br/>

    <a href="/Patients">Patients</a>
    <br />
    <a href="/MessagesAfterVaccinations">Messages after vaccinations</a>
    <hr />

    <a href="/MedicalInstitutions">Medical Institutions</a>
    <br />
    <a href="/Vaccinations">Vaccinations</a>
    <hr />

    <a href="/Diseases">Diseases</a>
    <br />
    <a href="/Vaccines">Vaccines</a>
    <hr />

    <a href="/Doses">Doses</a>
    <br />
    <a href="/VaccineDoses">Vaccines doses</a>
</div>
